#wrapper {
	margin-left: 12px;
}

#date-wrapper {
	margin-top: 30px;
}

#load_date {
	font-family: cursive;
	color: #1BA440;
}

#code-wrapper {
	border: 1px solid white;
    border-radius: 5px;
    border-left-width: 10px;
    border-left-color: #4CD5EB;
    background-color: #E0F2F5;

    margin-top: 15px;
    /*margin-left: 10px;*/
	width: 40%;

	resize: horizontal;
	overflow: auto;
}

#code_snippet {
	 margin-top: 5px 0px 5px 12px;
	 margin-bottom: 5px;
	 margin-left: 12px;
	 font-size: 15px;
}