<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Latest Code</title>
    <link rel="stylesheet" href="/css/codePage-style.css">
</head>
<body>
	<body>
	<div id="wrapper" th:each="code: ${latestCode}">
		<div id="date-wrapper">
			<span id="load_date" th:text="${code.dateTime}">
		       Posting date: 2021/01/01 12:00:00
            </span>
		</div>
		<div id="code-wrapper">
			<pre id="code_snippet" th:text="${code.code}">
System.out.println("Hello World");
int a = 10;
int b = 22;

public static void makeSomething(int[] arr, int k, float l) {
   List list = new ArrayList();
   list.add(12);
   list.add(8);
}
            </pre>
		</div>
		<hr></hr>
	</div>
</body>
</body>
</html>